[class*="placeholder"] {
    color: var(--bs-body-color) !important;
    opacity: 0.6;
}


.hub-header .ag-header-cell-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hub-header .ag-header-cell-label .ag-header-cell-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.hub-header-first .ag-header-cell-label {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.no-padding-grid {
    /* Removes the horizontal padding inside cells */
    --ag-cell-horizontal-padding: 0px;
    
    /* Optional: Removes padding from the header cells if they are ever visible */
    --ag-header-cell-horizontal-padding: 0px;

}

/* Removes margins and borders if the theme forces them onto the grid wrapper */
.no-padding-grid .ag-root-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}


